@use '../settings'as s;
@use '../tools'as t;


.c-button {
    display: inline-block;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 2.5rem;
    font-size: 1.125rem;
    background-color: lightgray;
    font-family: s.$font-family-heading;

    @include t.u-hocus {
        background-color: darkgray;
    }
}


.c-button {

    &.-secondary {
        background-color: #ffffff;
    }

    &.-outline {
        background: none;
        border: 2px solid rgba($color: #000000, $alpha: .1);
        transition: border ease-in-out 200ms;

        &:hover {
            border: 2px solid rgba($color: #000000, $alpha: .3);
        }
    }

    &.-outline.-white {
        color: #ffffff;
        border: 2px solid rgba($color: #ffffff, $alpha: .1);
        transition: border ease-in-out 200ms;

        &:hover {
            border: 2px solid rgba($color: #ffffff, $alpha: .3);
        }
    }

}
