@use '../settings' as s;
@use '../tools' as t;

.c-button {
  display: inline-block;
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 2.5rem;
  font-size: 1.125rem;
  background-color: lightgray;
  font-family: s.$font-family-heading;

  @include t.u-hocus {
    background-color: darkgray;
  }
}

.c-button {
  display: inline-block;
  width: auto;
  cursor: pointer;

  &.-secondary {
    background-color: #ffffff;
  }

  &.-outline {
    background: none;
    border: 2px solid rgba($color: #000000, $alpha: 0.1);
    transition: border ease-in-out 200ms;

    &:hover {
      border: 2px solid rgba($color: #000000, $alpha: 0.3);
    }
  }

  &.-outline.-primary {
    background: none;
    border: 2px solid s.$color-primary;
    transition: border ease-in-out 200ms;
  }

  &.-outline.-white {
    color: #ffffff;
    border: 2px solid rgba($color: #ffffff, $alpha: 0.1);
    transition: border ease-in-out 200ms;

    &:hover {
      border: 2px solid rgba($color: #ffffff, $alpha: 0.3);
    }
  }
}

.c-required-text {
  padding: 1rem 0;
  text-align: right;
}
