@use '../settings'as s;
@use '../tools'as t;

@at-root h1, h2, h3, h4, h5, h6, 
.c-heading {
    line-height: s.$line-height-h;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-family: s.$font-family-heading;
    font-weight: normal;
    color: s.$color-title;
}

.c-heading {
    @at-root h1,
    &.-h1 {
        font-size: t.rem(s.$font-size-h1);
    }

    @at-root h2,
    &.-h2 {
        font-size: t.rem(s.$font-size-h2);
    }

    @at-root h3,
    &.-h3 {
        font-size: t.rem(s.$font-size-h3);
    }

    @at-root h4,
    &.-h4 {
        font-size: t.rem(s.$font-size-h4);
    }

    @at-root h5,
    &.-h5 {
        font-size: t.rem(s.$font-size-h5);
    }

    @at-root h6,
    &.-h6 {
        font-size: t.rem(s.$font-size-h6);
    }
}
