@use '../settings' as s;
@use '../tools' as t;

@at-root h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .c-heading {
  line-height: s.$line-height-h;
  margin-top: 1.75rem;
  margin-bottom: 1rem;
  font-family: s.$font-family-heading;
  font-weight: normal;
  color: s.$color-title;

  &:not(.blocks-3m_title) a,
  [style*='text-decoration'] {
    text-decoration: underline !important;
    text-decoration-color: s.$color-primary !important;
    text-decoration-thickness: 2px !important;
    text-underline-offset: 3px !important;
  }
}

.c-heading {
  @at-root h1,
    &.-h1 {
    font-size: t.rem(s.$font-size-h1-m);
    line-height: s.$line-height-h1;
    margin-top: 0;
    margin-bottom: s.$margin-bottom-h1;

    body:not(.home) &:not(.homepage-hero_title),
    a {
      color: s.$color-title;
      text-decoration: underline;
      text-decoration-color: s.$color-primary;
      text-decoration-thickness: 3px;
      text-underline-offset: 4px;
    }
  }

  @at-root h2,
    &.-h2 {
    font-size: t.rem(s.$font-size-h2-m);
    line-height: 1.35;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  @at-root h3,
    &.-h3 {
    font-size: t.rem(s.$font-size-h3-m);
    line-height: 1.4;
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
  }

  @at-root h4,
    &.-h4 {
    font-size: t.rem(s.$font-size-h4-m);
    line-height: 1.475;
  }

  @at-root h5,
    &.-h5 {
    font-size: t.rem(s.$font-size-h5-m);
    margin-bottom: 0.5rem;
  }

  @at-root h6,
    &.-h6 {
    font-size: t.rem(s.$font-size-h6-m);
    margin-bottom: 0.5rem;
  }
}

@media (min-width: s.$from-medium) {
  .c-heading {
    @at-root h1,
      &.-h1 {
      font-size: t.rem(s.$font-size-h1-t);
      line-height: s.$line-height-h1;
    }

    @at-root h2,
      &.-h2 {
      font-size: t.rem(s.$font-size-h2);
    }

    @at-root h3,
      &.-h3 {
      font-size: t.rem(s.$font-size-h3);
    }

    @at-root h4,
      &.-h4 {
      font-size: t.rem(s.$font-size-h4);
    }

    @at-root h5,
      &.-h5 {
      font-size: t.rem(s.$font-size-h5);
    }

    @at-root h6,
      &.-h6 {
      font-size: t.rem(s.$font-size-h6);
    }
  }

  @at-root h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .c-heading {
    &:not(.blocks-3m_title) a,
    [style*='text-decoration'] {
      text-decoration-thickness: 3px !important;
      text-underline-offset: 4px !important;
    }
  }
}

@media (min-width: s.$from-large) {
  .c-heading {
    @at-root h1,
      &.-h1 {
      font-size: t.rem(s.$font-size-h1);
    }
  }
}
