@use '../../settings' as s;
@use '../../tools' as t;

/**
* Editor Post Title
* - Needs a special styles
*/

// Post title style
.wp-block.editor-post-title__block {
  margin-bottom: s.$margin-bottom-h1;

  .editor-post-title__input {
    color: s.$color-title;
    font-family: s.$font-family-heading;
    font-size: t.rem(s.$font-size-h1);
    font-weight: normal;
    line-height: s.$line-height-h1;
  }

  text-decoration: underline;
  text-decoration-color: s.$color-primary;
  text-decoration-thickness: 3px;
  text-underline-offset: 4px;
}

// Main column width
.wp-block {
  max-width: s.$container-width;
}

// Width of "wide" blocks
.wp-block[data-align='wide'] {
  max-width: s.$container-width;
}

// Width of "full-wide" blocks
.wp-block[data-align='full'] {
  max-width: none;
}