// ==========================================================================
// Settings / Config / Colors
// ==========================================================================

// Palette
// =============================================================================
$white: #FFFFFF;
$black: #000000;


$color-darker    : #2E2D2C;

$color-primary: #F8E834;
$color-secondary: #D1D1D1;
$color-thirdly: #505050;

$color-secondary-light: #eeeeee;


// Specific
// =============================================================================

// Texte
$color-txt            : #515151;
$color-txt-dark    : #404040;
$color-txt-darker    : #2E2D2C;
$color-txt-light   : #7c7c7c;
$color-txt-lighter : #b3b3b3;
$color-txt-lightest: #cccccc;

// Titles
$color-title: $color-txt-darker;

// Link
$link-color:       $color-txt-dark;
$link-focus-color: $color-txt-dark;
$link-hover-color: darken($color-txt-dark, 10%);

// Selection
$selection-text-color:       $color-txt-darker;
$selection-background-color: $color-primary;

$color-background       : #ffffff;

// Social Colors
// =============================================================================
$facebook-color:  #3B5998;
$instagram-color: #E1306C;
$youtube-color:   #CD201F;
$twitter-color:   #1DA1F2;
