
// ==========================================================================
// Settings / Config
// ==========================================================================

// Context
// =============================================================================
// The current stylesheet context. Available values: frontend, editor.
$context: frontend !default;

// Path is relative to the stylesheets directory.
$assets-path: "../"  !default;

// Typefaces
// =============================================================================
$font-sans-serif: 'inter', sans-serif;

// Typography
// =============================================================================
// Base
$font-size:   16px;
// $line-height: 24px / $font-size;
$line-height: 1.5;
$font-family: $font-sans-serif;
$color:       #222222;
// Headings
$font-family-heading: 'basiercircle', $font-sans-serif;
$font-size-h1-m:  42px  !default;
$font-size-h2-m:  30px  !default;
$font-size-h3-m:  24px  !default;
$font-size-h4-m:  20px  !default;
$font-size-h5-m:  18px  !default;
$font-size-h6-m:  16px  !default;
$font-size-h1-t:  44px  !default;
$font-size-h1:  48px  !default;
$font-size-h2:  32px  !default;
$font-size-h3:  24px  !default;
$font-size-h4:  20px  !default;
$font-size-h5:  18px  !default;
$font-size-h6:  16px  !default;
$line-height-h: $line-height;
$line-height-h1: 1.3;
$margin-bottom-h1: 3rem;

// Weights
$light:  300;
$normal: 400;
$medium: 500;
$bold:   600;


// Transitions
// =============================================================================
$speed:  0.3s;
$easing: linear;

// Spacing Units
// =============================================================================
// $unit:       64px;
// $unit-small: 32px;
$unit:       4rem;
$unit-small: 2rem;

// Container
// ==========================================================================
// $container-width: 1040px;
// $container-width: 1240px;
// $container-width: 85.5rem;
$container-width: 70rem;
$padding-small:   $unit-small;
$padding-medium:  3rem;
$padding:         $unit;

// Breakpoints
// =============================================================================
$from-tiny:     500px              !default;
$to-tiny:       $from-tiny - 1     !default;
$from-small:    765px              !default;
$to-small:      $from-small - 1    !default;
$from-medium:   990px             !default;
$to-medium:     $from-medium - 1   !default;
$from-large:    1200px             !default;
$to-large:      $from-large - 1    !default;
$from-big:      1400px             !default;
$to-big:        $from-big - 1      !default;
$from-huge:     1600px             !default;
$to-huge:       $from-huge - 1     !default;
$from-enormous: 1800px             !default;
$to-enormous:   $from-enormous - 1 !default;
$from-gigantic: 2000px             !default;
$to-gigantic:   $from-gigantic - 1 !default;
$from-colossal: 2400px             !default;
$to-colossal:   $from-colossal - 1 !default;
