<footer id="footer" class="footer">
    <div class="o-container">
        <div class="footer_content">
            {% include "components/menu-footer.twig" with {'items': menu_footer.get_items} %}
            <div class="footer_copyright">
                © {{"now"|date('Y')}} m.stratégie 
            </div>
        </div>
    </div>
</footer>