{% if menu %}
<div class="menu-footer">
	<ul class="menu-footer_items">
		{% for item in items %}
		<li class="menu-footer-item">
			<a href="{{ item.link }}">
				{{ item.title }}
			</a>
		</li>
		{% endfor %}
	</ul>
</div>
{% endif %}